#top {
    background-color: rgb(89, 95, 150);
    margin: 0px 0px 0px 0px;
}
#title_1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
    font-family: Verdana;
    padding: 160px;
    margin: 0 0 0 0;
}
#tur {
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: Verdana;
    font-style: italic;
    font-size: 35px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 220px;  
    margin:0 0 0 0;

}
#imge{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}
#med {
    background-color: rgb(205, 77, 0);
    text-align: center;
    margin: 0;

}
.barra {
    color: rgb(205, 77, 0);
    background-color: rgb(255, 254, 254);
    font-family: Verdana;
    font-size: 40px;
    display: inline-block;
    padding-top: 90px;
    padding-bottom: 90px;
    width: 400px;
    margin: 60px 35px;
}
#bot {
    background-color: rgb(216, 216, 216);
    padding: 120px;
    text-align: center;
}
#butt {
    color: rgb(255, 255, 255);
    background-color: rgb(205, 77, 0);
    font-size: 40px;
    padding: 10px 40px;
    border-color:black;
    margin: 0px 0px 0px 0px;
}
#inp {
    font-size: 40px;
    padding: 10px 20px;
    border-color: black;
    border-right: 0px;
    margin: 0px 0px 0px 0px;
}
#bv {
    font-size: 40px;
    font-family: Verdana;
}